.span-normal{
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
}

.room-context{
    display: -webkit-box;
    line-height: 17px;
    overflow: hidden;
    max-height: 34px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.room-price{
    display: -webkit-box !important;
    overflow: hidden !important;
    max-height: 22px !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    word-break: break-all !important;
    color: #484848 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    height: 16px !important;
    margin-bottom: 0px !important;
}

.room-comment-num{
    font-weight: bold !important;
    color: #484848 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    margin-left: 4px !important;

}

.exp-comment-num{
    font-weight: bold !important;
    color: #484848 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    margin-right: 3px;
}
.exp-comment-num2{
    font-weight: 400 !important;
    color: #484848 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    margin-left: 4px !important;
}

title{
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 26px !important;
}

.city-name{
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC" !important;
    font-size: 14px !important;
    font-weight: 800 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
}

.city-intro{
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
}

.link{
    width: 45%;
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 6px;
    color: rgb(111,111,111);
}

.city-history{
    color: rgb(72, 72, 72) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
    font-size: 14px !important;
    line-height: 24px !important;
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    border-width: 0.5px !important;
    border-style: solid !important;
    border-color: rgb(219, 220, 221) !important;
    border-image: initial !important;
    border-radius: 3px !important;
    padding: 12px 16px !important;
    background-color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.city-pop{
    color: rgb(72, 72, 72) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
    font-size: 14px !important;
    line-height: 24px !important;
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    border-width: 0.5px !important;
    border-style: solid !important;
    border-color: rgb(219, 220, 221) !important;
    border-image: initial !important;
    border-radius: 3px !important;
    padding: 16px !important;
    background-color: white;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.city-option{
    font-size: 12px !important;
    margin-right: 32px !important;
    margin-bottom: 16px !important;
    padding: 16px 0px !important;
    font-size: 12px !important;
    border:2px;
    background-color: white;
}

.city-option-active{
    margin-right: 32px !important;
    margin-bottom: 16px !important;
    color: rgb(0, 132, 137) !important;
    padding: 16px 0px !important;
    border-bottom: 2px solid rgb(0, 132, 137) !important;
    background-color: white;
    border-left: none;
    border-right: none;
    border-top: none;
}

button{
    outline: none;
}
