*{
    margin:0
}
.rooms-header{
    width: 100%;
}

.rooms-container{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 7%;
    margin-top: 20px;
    display: flex;
    width: 86%;
}

.bg1{
    width: 100%;
}

.bg{
    width: 100%;
    height: 240px;
    background-image:url("https://z1.muscache.cn/im/pictures/7cc3c855-f90e-4d0f-9b13-3b5c2a3c4bad.jpg?aki_policy=xx_large");
    background-size: cover;
    background-position: 99% 99%;
}

.room-room-intro{
    padding: 16px 24px;
    border-bottom:1px solid rgb(240,240,240)
}

.room-lil-intro{
    font-size: 12px;
    font-weight: 500;
    color: #734f21
}
.sp-tag{
    font-size:12px;
    padding:6px 10px;
    font-weight: 800;
    margin-left: 7px;
    border-radius: 3px
}
.sp-tag:first-child{
    margin-left: 0
}
.sp-tag-comment{
    color:#296E00 !important;
    background-color:#EAF7EA;
}
.sp-tag-info{
    color:#8A2400 !important;
    background-color: #f7f3ea !important
}

.sp-tag-gray{
    background-color: #F2F2F2 !important;
    color: #484848;
}

.check-info{
    color: rgb(0, 132, 137) !important;
    font-weight: 500;
    margin-top: 20px;
    font-size: 14px
}
.logo{
    width: 24px;
    height: 24px;
    background-size:cover;
    border-radius: 50%
}

.room-detail{
    border-top:8px solid rgb(222,222,222,0.4);
}

.check-info{
    cursor: pointer;
}

.fxal{
    display: flex;
    align-items: center
}

.comment-font{
    font-size: 14px;
    margin-right: 8px;
    font-weight: 300
}

.fxbt{
    display: flex;
    justify-content: space-between;
}

.fxar{
    display: flex;
    justify-content: space-around
}

.mb15{
    margin-bottom: 15px;
}

.mt10{
    margin-top: 10px;
}

.mt20{
    margin-top: 20px
}

.mt25{
    margin-top: 25px
}

.mt30{
    margin-top: 30px
}

.ml10{
    margin-left: 10px
}

.ml15{
    margin-left: 15px
}

.mt15{
    margin-top: 15px
}



.round{
    border-radius: 50% 50%
}

.avatar-small{
    width: 48px;
    height: 48px;
}

.font-small{
    font-size: 12px;
}

.font-mid{
    font-size: 14px
}

.wb{
    word-break: keep-all
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    transform-origin: 0% 0%;
    z-index: 666;
    overflow-y: scroll;
    background-color: white;
    animation: collpased 0.3s;
}

@keyframes collpased {
    from {transform: scaleY(0)}
    to {transform: scaleY(1)}
}

.main-block{
    width: 88%;
    margin: 0 auto;
}

.normal-font{
    font-weight: 400;
}


.light-font{
    font-weight: 300;
}

.strong-font{
    font-weight: 700;
}

.menu-block{
    padding: 25px 0 25px 0;
    font-weight: 300;
    border-bottom: 1px solid #eeeeee;
}
.menu-block h4{
    padding: 0 0 26px 0;
}
.menu-block h4:last-child{
    padding: 0;
}
.menu-main{
    width: 88%;
    margin: 0 auto;
}
.menu-block:last-child{
    border:none
}

.round-avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

a{
    text-decoration: none;
}

a:link{
    color: #484848;
}

a:visited{
    color: #484848;
}
a:hover{
    color: #484848;
}
a:active{
    color: #484848;
}

.standard-input{
    outline: none;
    height: 46px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-size: 20px;
    padding-left: 5px;
    transition: 0.2s;
}

.normal-button{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    background-color: #008489;
    color: white;
    transition: 0.3s;
}

.normal-button-disabled{
    opacity: 0.5;
}
